*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
  --dark-amethyst: #10002b;
  --dark-amethyst-2: #240046;
  --indigo-ink: #3c096c;
  --indigo-velvet: #5a189a;
  --royal-violet: #7b2cbf;
  --lavender-purple: #9d4edd;
  --mauve-magic: #c77dff;
  --mauve: #e0aaff;
}

.full-code{
    display:flex;
    justify-content: space-evenly;
}

.left-page{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    width:500px;
    gap:20px;
}

.right-page{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    width:500px;
    gap:20px;
}

body{
    margin:0;
    min-height: 100vh;

    font-family: sans-serif;
    
    background: linear-gradient(
    -45deg,
    var(--dark-amethyst),
    var(--indigo-ink),
    var(--royal-violet),
    var(--mauve-magic)
  );

  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    



h1{
    font-size:60px;
    text-align:center;
    margin-top:30px;
    color:white;
    letter-spacing:2px;
    font-family: 'Permanent Marker', sans-serif ;
}

.container{
    background-color: rgb(25, 25, 112,0.44);
    display:flex;
    gap:20px;
    height:120px;
    width:350px;
    color:white;
    margin-top:20px;
    margin-left:40px;
    border-radius:20px;
}

.left{
    background-color: #1a1a2e;
    display:flex;
    height:110px;
    margin-top:0;
    margin:5px;
    padding:16px;
    border-radius:16px;
    text-align:center;
    line-height:22px;
    font-weight:900;
    flex-direction:column;
    gap:15px;
}

.num{
    display:flex;
    justify-content: center;
    font-size:60px;
}

.right{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:30px;
}

.topic{
    display:flex;
    flex:1;
    min-width: 0;
    padding-top:10px;
    width:200px;
    font-weight:650;
}

.watch-link{
    padding-bottom:4px;
    font-size:14px;
    cursor:pointer;
    white-space: nowrap;
}

.watch-link:hover{
    text-decoration: underline;
    color:skyblue;
}


.container:hover{
    transform:scale(1.1);
    transition:all 0.4s ease;
    box-shadow:
    0 0 15px var(--mauve-magic),
    0 0 30px var(--mauve-magic),
    0 0 60px var(--lavender-purple),
    0 0 100px rgba(199, 125, 255, 0.6);
}



